<h3>ShowStorage</h3>


@* 


@if (Slots is null)
{
    <p>Загружаем площадки...</p>
}
else
{
    <RadzenRow class="rz-text-align-center rz-border-info-light" Gap="2rem">

        @foreach (var area in Areas)
        {
            <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-5">
                @area.AreaName
                @if (Slots is null)
                {
                    <p>Загружаем площадки...</p>
                }
                else
                {
                    

                }
            </RadzenColumn>
        }
    </RadzenRow>
}




@code {

    [Parameter]
    public List<Slot>? Slots { get; set; }


    


    private int _maxStorages;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }

    private void GetStorages()
    {
        



    }




}
 *@